@import "../src/assets/css/font.css";

@import "tailwindcss";

@theme {
  --font-source-sans-pro: Source Sans Pro, "sans-serif";

  --breakpoint-tablet: 56.25rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 90rem;

  --max-width-8xl: 90rem;
  --max-width-9xl: 100rem;
}

.btn {
  @apply cursor-pointer transition-colors bg-[#F6F6F6] hover:bg-[#EAEAEA] rounded-[3px] px-2.5 py-1.75 desktop:text-base laptop:text-xs tracking-[0.02em] text-[#989898] hover:text-[#484848];
}
